.table-container {
  height: 80vh; /* Fixed height */
  overflow-y: auto;
  border: 1px solid #ccc;
}

.custom-table {
  width: 100%;
  border-collapse: collapse;
  font-family: 'Gilroy', sans-serif;
}

.custom-table th,
.custom-table td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

.custom-table tr.selected {
  background-color: #d0e6ff;
}
